/* Build an index*/
/* 1. Imports
2. General rules
2.1 chnage the box model
2.2 body rules 
2.3 structure rules
3. mobile rules
3.1 nav bar
3.2 sectin layout rules
4. large screen rules (meida query)
4.1 anv bar
4.2 section layout
*/

/* Change box model  */
html {
 box-sizing: border-box;
}

*, *::before, *::after{
 box-sizing: inherit;
}

/* General Styles */
body{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 18px; 
}

/* Mobile First Styles */
#pageHeader {
    font-size: 30px;
}

#pageFooter {
    margin-bottom: 5rem;
}

#pageNav {
    background-color: white;
    width: 100%;
}
ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    background-color: white;
}

ul li {
    border: #0000ff solid 1px;
}


/* Larger Screen Styles  */
@media screen and (min-width: 40em) {
}

