@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
/* font-family: 'Bowlby One SC', cursive; */
@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
/* font-family: 'Francois One', sans-serif; */

html *{
    box-sizing: border-box;
}

*::before, *::after{
    box-sizing: border-box;
}

html {
    background-color: #FFFCF9;
}

header {
    padding: 5px;
    background-color: #6E98B0;
}

header h1 {
    font-family: 'Bowlby One SC', cursive;
    color: #FFFCF9;
    letter-spacing: 2px;
    font-size: 1.15em;
}

main {
    padding: 5px;
}

footer {
    padding: 5px;
    font-family: utopia-std-caption, serif;
    background-color: #6E98B0;
    color: white;
}

#logo {
    width: 25%;
}

h2 {
    font-family: 'Bowlby One SC', cursive;
    color: #6E98B0;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Francois One', sans-serif;
    text-align: center;
}

p {
    font-family: utopia-std-caption, serif;
}

footer {
    text-align: center;
}

a:link {
    color: #E8CB7D;
}

a:visited {
    color: #E8CB7D;
}

a:hover {
    color: #DD7044;
}

a:active {
    color: white;
} 

/* nav {
    position: fixed;
    bottom: 0;
} */

nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
    /* background-color:#6E98B0; */
}

nav ul li {
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
    font-size: 1em;
}

nav ul li a {
    text-decoration: none;
}

#logobox {
    display: flex;
    align-items: center;
}

#tagline {
    display: block;
    text-align: left;
    font-size: 1em;;
    margin-top: -25px;
    margin-left: 90px;
    color: white;
}

.header1, .header2, .header3 {
    background-color: #DD7044;
    padding: 10px;
    color: white;
}

.content1, .content2, .content3 {
    background-color: #E8CB7D;
    padding: 10px;
}

.locationtitle {
    background-color: #DD7044;
    color: white;
    width: 100%;
    text-align: center;
    align-self: center;
}

.locationtitle h2 {
    color: white;
}

.locationtitle p {
    font-family: 'Francois One', sans-serif;
}

#prestoncontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.currentconditions, .temperature, .precipitation, .wind {
    background-color: #E8CB7D;
    width: 75%;
    padding: 5px;
    margin: 10px;
}
.currentconditions {
    text-align: center;
    align-self: center;
}

.currentconditions p {
    font-family: 'Francois One', sans-serif;
    color: white;
}

#prestoncontent h3 {
    color: #DD7044
}

#current {
    font-size: 3em;
}

#feelslike, #windspeed {
    font-size: 1.25em;
}

.component{
    width: 200px;
    height: 200px;
    background-color: white;
    position: relative;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    margin:30px;
}
    
.inner{
    width: 150px;
    height: 150px;
    background-color: #E8CB7D;
    border-radius: 90%;
    align-self: center;
}

.centersymbol {
    display: flex;
    justify-content: center;
    margin: 55px;
    font-size:2em;
}

.numbers {
    list-style-type: none;
    padding: 0;
    position: absolute;
    font-size: 1.25em;
    font-family: 'Francois One', sans-serif;
    color: #E8CB7D;
  }
  
  .n1 {
    margin-top: 5px;
    margin-left: 150px;
  }
  
  .n2 {
    margin-top: 15px;
    margin-left: 175px;
  }
  
  .n3 {
    margin-top: 20px;
    margin-left: 175px;
  }
  
  .n4 {
    margin-top: 10px;
    margin-left: 160px;
  }
  
  .n5 {
    margin-top: 5px;
    margin-left: 125px;
  }
  
  .n6 {
    margin-top: -10px;
    margin-left: 85px;
  }
  
  .n7 {
    margin-top: -35px;
    margin-left: 40px;
  }
  
  .n8 {
    margin-top: -55px;
    margin-left: 10px;
  }
  
  .n9 {
    margin-top: -60px;
    margin-left: 0px;
  }
  
  .n10 {
    margin-top: -70px;
    margin-left: 5px;
  }

.outer {
    list-style-type: none;
    padding: 0;
    position: absolute;
    font-size: 1.25em;
    font-family: 'Francois One', sans-serif;
    color: #DD7044;
  }
  
  .o1 {
    margin-top: -45px;
    margin-left: 120px;
  }
  
  .o2 {
    margin-top: 20px;
    margin-left: 205px;
  }
  
  .o3 {
    margin-top: 23px;
    margin-left: 225px;
  }
  
  .o4 {
    margin-top: 20px;
    margin-left: 225px;
  }
  
  .o5 {
    margin-top: 20px;
    margin-left: 210px;
  }
  
  .o6 {
    margin-top: 20px;
    margin-left: 165px;
  }
  
  .o7 {
    margin-top: -10px;
    margin-left: 110px;
  }
  
  .o8 {
    margin-top: -30px;
    margin-left: 60px;
  }
  
  .o9 {
    margin-top: -65px;
    margin-left: 15px;
  }
  
  .o10 {
    margin-top: -80px;
    margin-left: 0px;
  }
  
  .o11 {
    margin-top: -75px;
    margin-left: 5px;
  }

  .ball {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #DD7044;
    color: transparent;
}

#curWeather {
    background-size: cover;
}

.clear {
    background-image: url("/weather/docs/images/clearsmall.jpg");
}

.clouds {
    background-image: url("/weather/docs/images/cloudssmall.jpg");
}
   
.fog {
    background-image: url("/weather/docs/images/fogsmall.jpg");
}

.rain {
    background-image: url("/weather/docs/images/rainsmall.jpg");
}

.snow {
    background-image: url("/weather/docs/images/snowsmall.jpg");
}

/* Larger Screen Styles  */
@media screen and (min-width: 768px) {
    #logo {
        width: 150px;
    }

    header h1 {
        font-size: 2em;
    }

    /* nav ul {
        display: flex;
        padding: 0;
        list-style: none;
        justify-content: space-evenly;
        background-color: none;      
    } */

    nav ul li {
        font-size: 1.25em;
    }

    a:link {
        color: white;
    }
    
    a:visited {
        color: white;
    }
    
    a:hover {
        color: #E8CB7D;
    }
    
    a:active {
        color: #DD7044;
    } 

    #tagline {
        display: block;
        text-align: left;
        margin-top: -50px;
        padding-left: 60px;
        padding-bottom: 30px;
        font-size: 1.5em;
    }
    
    #home-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .header1 {
        grid-column: 1;
        grid-row: 1;
    }

    .content1 {
        grid-column: 1;
        grid-row: 2;
    }
    .header2 {
        background-color: #E8CB7D;
        grid-column: 2;
        grid-row: 1;
    }

    .content2 {
        background-color: #DD7044;
        grid-column: 2;
        grid-row: 2;
    }

    .header3 {

    }

    .content3 {

    }

    #prestoncontent {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 10px;
    }

    .locationtitle {
        width: 100%;
        margin: 0 auto;
        grid-column: 3/6;
        grid-row: 1;
    }

    .currentconditions {
        width: 100%;
        margin: 0 auto;
        grid-column: 3/6;
        grid-row: 2;
    }

    .temperature {
        width: 100%;
        margin: 0 auto;
        grid-column: 3/4;
        grid-row: 3;
    }

    .precipitation {
        width: 100%;
        margin: 0 auto;
        grid-column: 4/5;
        grid-row: 3;
    }

    .wind {
        width: 100%;
        margin: 0 auto;
        grid-column: 5/6;
        grid-row: 3;
    }

    .currentconditions, .temperature, .precipitation, .wind {
        padding: 20px;
        margin: 0px;
    }
}
