@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
/* font-family: 'Bowlby One SC', cursive; */
@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
/* font-family: 'Francois One', sans-serif; */

html *{
    box-sizing: border-box;
}

*::before, *::after{
    box-sizing: border-box;
}

html {
    background-color: #FFFCF9;
}

header {
    padding: 5px;
    background-color: #6E98B0;
}

header h1 {
    font-family: 'Bowlby One SC', cursive;
    color: #FFFCF9;
    letter-spacing: 2px;
    font-size: 1.15em;
}

main {
    padding: 5px;
}

footer {
    padding: 5px;
    font-family: utopia-std-caption, serif;
    background-color: #6E98B0;
    color: white;
}

#logo {
    width: 25%;
}

h2 {
    font-family: 'Bowlby One SC', cursive;
    color: #6E98B0;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Francois One', sans-serif;
    text-align: center;
    color: white;
}

p {
    font-family: utopia-std-caption, serif;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #E8CB7D;
}

a:active {
    color: #DD7044;
} 

footer {
    text-align: center;
}

nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;   
}

nav ul li {
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
    font-size: 1em;
}

nav ul li a {
    text-decoration: none;
}

#logobox {
    display: flex;
    align-items: center;
}

.header1, .header2, .header3 {
    background-color: #DD7044;
    padding: 10px;
}

.content1, .content2, .content3 {
    background-color: #E8CB7D;
    padding: 10px;
}